.root {
  border-radius: 50%;
  position: relative;
}

.button {
  padding: 1rem;
  width: 4rem;
  height: 4rem;
}

.button_freezed {
  color: var(--color-main-text-20);
}

.circle {
  position: absolute;
  left: 0;
  top: 0;
}

.circle_back {
  color: var(--color-main-text-20);
}