.root {
  align-self: center;
  margin-bottom: 2rem;
  width: 6rem;
  height: 6rem;
  padding: 1rem;
  border: solid 4px var(--color-main-text-80);
  border-radius: 50%;
}

.root_freezed {
  color: var(--color-main-text-20);
  border-color: var(--color-main-text-20);
}
