.root {
  width: 100%;
  height: 100%;
  position: relative;
  background: var(--color-dark);
  overflow: hidden;
}

.card {
  position: absolute;
  border-radius: var(--border-radius-a);
  background: var(--color-main);
  left: -0.5rem;
  top: -0.5rem;
  right: -0.5rem;
  bottom: -0.5rem;
  padding: 0.5rem;
  touch-action: none;
  overflow: hidden;
  box-shadow: var(--box-shadow-a);
}
